<div>
    <div class="col-md-6 offset-md-3 center shadow-lg p-3 mb-5 bg-white rounded">
        <h3 class="text-center">Register As Doctor</h3>
        <form (ngSubmit)="onSubmit()" #regForm="ngForm" novalidate>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Name" minLength="3" maxlength="15" [(ngModel)]="doctor.name" name="name" required #name="ngModel">
                <div *ngIf="name.touched && name.invalid && name.errors">
                    <small class="form-text text-muted" >* First name is mandatory and it should be in length 3-15 </small>
                </div>
              </div>
              <div class="form-group">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age" placeholder="Enter Your Age" [(ngModel)]="doctor.age" name="age"  required #age="ngModel">
                <small *ngIf="age.touched && age.invalid && age.errors" class="form-text text-muted" >* Please fill your age </small>
              </div>
              <div class="form-group">
                <label for="specialization">specialization</label>
                <input type="text" class="form-control" id="specialization" placeholder="Write your specialization" [(ngModel)]="doctor.specialization" name="specialization"  required #specialization="ngModel">
                <small *ngIf="specialization.touched && specialization.invalid && specialization.errors" class="form-text text-muted" >* Please write your specializations</small>
              </div>
              <div class="form-group">
                <p>Select your gender</p>
                <select id="gender" #gender="ngModel" [(ngModel)]="doctor.gender" name="gender" required>
                  <option selected="true" name="gender">Male</option>
                  <option selected="true" name="gender">Female</option>
                  <option selected="true" name="gender">Others</option>
                </select> 
                <small *ngIf="gender.touched && gender.invalid && gender.errors" class="form-text text-muted" >* Please select gender</small>
            </div>
            <button type="submit" class="btn btn-primary text-center" [disabled]="!regForm.valid">Submit</button>
        </form>
        </div>
</div>