<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(117, 104, 104);">
    <a class="navbar-brand" routerLink="createPatient">HK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse md-l" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" routerLink="home">Home</a>
        <a class="nav-item nav-link" routerLink="createDoctor">Create Doctor</a>
        <a class="nav-item nav-link" routerLink="createPatient">Create Patient</a>
        <a class="nav-item nav-link" routerLink="showDoctor">Show Doctor Info</a>
        <a class="nav-item nav-link" routerLink="showPatient">Show Patient Info</a>
      </div>
    </div>
  </nav>

